{% extends 'base.html' %}

{% block content %}
    <h4>Today tasks:</h4>
    <table>
        <thead>
            <th>Title</th>
            <th>Time</th>
        </thead>
        {% for task in today_tasks %}
            <tr><td><a href="/tasks/single/{{ task.id }}">{{ task.title }}</a></td><td>{{ task.predicted_time }}</td></tr>
        {% endfor %}
    </table>
    <h4>Starred tasks:</h4>
    <table>
        <thead>
            <th>Title</th>
            <th>Time</th>
        </thead>
        {% for task in starred_tasks %}
            <tr><td><a href="/tasks/single/{{ task.id }}">{{ task.title }}</a></td><td>{{ task.predicted_time }}</td></tr>
        {% endfor %}
    </table>
    <h4>Archived tasks:</h4>
    <table>
        <thead>
            <th>Title</th>
            <th>Time</th>
        </thead>
        {% for task in archived_tasks %}
            <tr><td><a href="/tasks/single/{{ task.id }}">{{ task.title }}</a></td><td>{{ task.predicted_time }}</td></tr>
        {% endfor %}
    </table>
    <h4>Reports:</h4>
    <p>You have worked for {{ hours_worked }} hours.</p>
{% endblock %}